// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro {
  padding-right: 30px;
}

/* Index Page */

.button {
  display: block;
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    opacity: .7;
  }
}

h1 {
  font-family: 'Karla', sans-serif;
}

h2 {
}
.tbody {
  font-size: 2em;
  line-height: 1.3;
  &:hover {
    text-decoration: none;
  }
}


.thead {
  font-size: 1.5em;
  padding: 20px;
}

.room {
  display: inline;
  margin-top: 25px;
}

/* Log in Root page */

.login {
  font-size: 1.2em;
}

.logo {
  margin-top: 75px;
  float: left;
}

.pic {
  max-width: 400px;
}

.time {
  font-size: 1.4em;
}

.message {
  font-size: .7em;
}
